<h1>Hangman</h1>
<p><%= hangman_info(@tally.state) %></p>
<p>Letters: <%= letters(@tally.letters) %></p>
<p>Left: <%= @tally.left_turns %></p>
<p>You have guessed: <%= letters(@tally.used) %></p>

<%= form_for @conn, hangman_path(@conn, :move), [as: :move, method: :put], fn f -> %>
  <%= text_input(f, :guess, autofocus: true) %>
  <%= submit("Make move") %>
<% end %>
