<h1>Hangman</h1>
<p><%= hangman_info(@tally.state) %></p>
<%= render "_game_state.html", tally: @tally %>
<%= render "_gallows.html", left: @tally.left_turns %>

<%= form_for @conn, hangman_path(@conn, :move), [as: :move, method: :put], fn f -> %>
  <%= text_input(f, :guess, autofocus: true) %>
  <%= submit("Make move") %>
<% end %>
