<h1><%= hangman_info(@tally.state) %></h1>
<%= render "_game_state.html", tally: @tally %>
<%= render "_gallows.html", left: @tally.left_turns %>

<%= form_for @conn, hangman_path(@conn, :create), [as: :move, method: :post], fn f -> %>
  <%= submit("new game") %>
<% end %>
